{{ define "main" }}
<div class="index-container">
	<section><img id="profile-image" src="images/lunchbag.png" /></section>
	<section class="introduction">
		<h2>Welcome!</h2>
		<span>
			Pursuing interests in writing, digital design, and language
			learning. On the side, I am a freelance web
			developer and software engineer.
		</span>
		<span>Currently, my husband and I are based in Fukuoka, Japan.</span>
		<span>Get in touch via <a href="https://twitter.com/lunchbag">Twitter</a>.</span>
	</section>

	<section class="posts">
		<h2>Updates</h2>
		<div class="post-list">
			{{ range (.Paginate .Pages).Pages }}
			<div class="post">
				<span class="post-date">
					<time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time>
				</span>
				<span class="post-title">
					<a href="{{ .Permalink }}"><span>{{ .Title }}</span></a>
				</span>
			</div>
			{{ end }}
		</div>
	</section>
</div>
{{ end }}