<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-88633013-1"
></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-88633013-1");
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="twitter:card" content="summary_large_image" />
{{- if eq .URL "/" }}
<meta name="description" content="{{ .Site.Params.Description }}" />
{{- else if .Description }}
<meta name="description" content="{{ .Description }}" />
{{- end }}
<meta content="{{ delimit .Keywords ", " }}" name="keywords">
{{ partial "seo-schema" . }}
{{ template "_internal/opengraph.html" . }}

<title>
  {{- if eq .URL "/" }} {{ .Site.Title }} {{- else }} {{ .Title }} &middot; {{ .Site.Title }} {{- end }}
</title>

{{- $inServerMode := .Site.IsServer }}
{{- $cssTarget := "css/style.css" }}
{{- $cssOptions := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $style := resources.Get "scss/index.scss" | toCSS $cssOptions }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat:700|Karla:400,700|Merriweather:300, 800, 900|Source+Sans+Pro:300,700,900|Nunito:300,600,700|Roboto+Slab:300,400,700|Amiri:400i"
/>

<link
  rel="icon"
  type="image/x-icon"
  href="{{ .Site.BaseURL }}images/favicon.ico"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ .Site.BaseURL }}images/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ .Site.BaseURL }}images/favicon-16x16.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ .Site.BaseURL}}images/apple-touch-icon.png"
/>
