{{ define "main" }}

<!-- {{ partial "post-header.html" . }} -->

<main id="g-post">
  <div class="post">
    <h1 class="title">{{ .Title }}</h1>
    <div class="post-info">
      <span>
        {{- if .PublishDate }} Written on
        <time datetime="{{ .PublishDate }}"
          >{{ .PublishDate.Format "January 2, 2006" }}</time
        >
        {{- end }}
      </span>
    </div>
    {{ .Content }}
  </div>

  <div class="post-post">
    <div class="thank-you"><span>Thank you for your readership!</span></div>

    <div class="author">
      <div class="image-container">
        <img class="image" src="/images/lunchbag.png" />
      </div>
      <div class="author-details">
        <p class="author-name">
          Jen is the founder of
          <a href="https://lunchmoney.app?utm_source=lunchbag">Lunch Money</a> —
          a bootstrapped personal financial management app that grew out of a
          side project in 2019. She is based in Seattle and loves running both
          the business and half-marathons while traveling the world.
        </p>
      </div>
    </div>

    <div id="floating-subscribe">
      <h2>Like what you're reading?</h2>
      <p>
        👋 I send monthly-ish emails with updates on my solopreneurship journey.
      </p>
      <p>
        <a
          id="subscribe-button"
          href="https://buttondown.com/lunchbag"
          target="_blank"
        >
          Subscribe to newsletter
        </a>
      </p>
      <p>
        You can also follow me on Twitter
        <a href="https://twitter.com/lunchbag" target="_blank">@lunchbag</a> or
        <a href="https://www.buymeacoffee.com/lunchbag" target="_blank"
          >buy me a book 📚</a
        >!
      </p>
      <span
        class="clickable"
        onclick="
          document.getElementById('floating-subscribe').style.display = 'none'
        "
        >Not right now.</span
      >
    </div>

    <div class="next-prev-post">
      <div class="post-post-container">
        {{if .PrevInSection}}
        <a href="{{.PrevInSection.Permalink}}">
          <h1>Prev Post</h1>
          <p>{{.PrevInSection.Title}}</p>
        </a>
        {{end}}
      </div>
      <div class="post-post-container">
        {{if .NextInSection}}
        <a href="{{.NextInSection.Permalink}}">
          <h1>Next Post</h1>
          <p>{{.NextInSection.Title}}</p>
        </a>
        {{end}}
      </div>
    </div>
    <div class="back-to-home">
      <a href="/">Back to lunchbag.ca</a>
    </div>
  </div>
</main>
{{ end }}
